*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    scroll-behavior: smooth;
    overflow: scroll;
}

/* Extra Large (xl) */
@media (min-width: 1280px) {
    *,
    ::after,
    ::before {
        overflow: hidden;
    }
}

.resume-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #fff;
    border: 2px solid #0563bb;
}

.resume-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid #0563bb;
    position: relative;
}

.work-timeline {
    background: #e6fffa;
    /* border: 3px solid #b2f5ea; */
    border-radius: 5px;
    padding: 5px 10px;
    width: 12em;
}

.primary-text-color {
    color: #0563bb;
}
